.side-nav-bar-content {
    flex: 1;

    .side-nav-bar-menu {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    li {
        font-size: 1.25em;
        margin-bottom: 32px;

        a {
            color: #000;
            text-decoration: none;
        }
    }
}

.visualize {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .visualize-item {
        width: 6rem;
        height: 6rem;
        background-color: rgb(245, 244, 244);
        justify-content: center;
        align-items: center;
    }
}